*{
    padding: 0px;
    margin: 0px;
}

/* header */
.bg1{
   background: url("../image/Hero-bg.png");
   background-repeat: no-repeat;
   height: 746px;
   width: 1440px;
}

nav{
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    padding-top: 20px;
  
    

}

.navleft a{
    text-decoration: none;
    color: #4E47FF;
    font-size: 34px;


}

.hero-content{
    align-items: center;
    text-align: center;
    margin-top: 158px;
    
    
}
.heroh{
    font-size: 65px;
    margin-right: 200px;
    gap:37px;
}


/* main */

.hero-mdl1{
    display: flex;
    justify-content: space-around;
    padding: 20px 25px;
    gap: 20px;
}

.heroright1 img{
    height: 228px;
    weight: 303px;
    border-radius: 48px;
}

.tbh{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
    color: #252432 ;
}

.thp{

    font-size: 24px;
    color: #252432;
    margin-bottom: 23px;


}

/* mbl2 */

.lock1{
    padding: 80px 50px;
    padding-left: 30px;
    padding-right: 30px;

    

    
}

.mdh{
    text-align: center;
   margin-top: 50px ;
   margin-bottom: 40px;
   padding-top: 15px;
   font-size: 38px;
}

.coutdown{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 20px;
}


.bg5{

    margin-left: 30px;
    margin-right: 30px;
    
    background:#7c78f5;
    border-radius: 10px;
    margin-bottom: 50px;
    padding-bottom: 20px;
}


.cnt{
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;

}

.ttc{
    color: #000000;
    font-size: 20px;
    
}

/* review section */

.star{
    color:#FFB805 ;
    
    size: 30px;
}

.review{
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    column-gap: 10px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.hdp{
    text-align: center;
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: bold;

}

.reviewcol1{
    background-color: whitesmoke;
    padding: 24px;
    margin: 24px;
    border-radius: 10px;
    

}


.rhd{
    margin-top: 12px;
}
.rvwp{
    margin-top: 9px;
    margin-bottom: 24px;
}


.imgfelx{
    display: flex;
    column-gap: 10px;
    
}

.imgfelx img{
    border-radius: 50%;
}


/* hero sec */
.her04{
    align-items: center;
    text-align: center;
    margin: 50px;
    background-color: whitesmoke;
    padding: 150px 71px;
    margin-bottom: 10px;
    
}
.readyp12{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 10px;
}

.prk1 p{
    font-size: 50%;
    margin-bottom: 20px;
    font-weight: 400;


}

.pk2 img{
    margin-top: 20px;
    border-radius: 48px;
}

/* form part */



/* share property */

.btn-primary{
    color:#FFFFFF ;
    font-size: 34px;
    background-color:#4E47FF ;
    border-radius: 10px;
    padding: 12px 12px;
    margin-right: 200px;

}
.btn-primary1{
     color:#FFFFFF ;
      background-color:#4E47FF;
      padding: 12px 12px;
      border-radius: 10px;
      border: none;



}

/* footer */

.fft{
    background-color: white;
    margin: 30px;
}

.logof{
    align-items: center;
    text-align: center;
    
}
.logof a{
    text-decoration: none;
    color: #4E47FF;
    font-size: 100px;
    
}

.fnav ul{
    display: flex;
    gap:25px;
}
.fnav ul li {
    text-decoration: none;
    color: white;
}

.fnav ul li a{
    text-decoration: none;
    color: #8987A1;
}




.form{
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    margin-left: 40px;
    margin-right: 40px;
}




.hp{
    font-size: 50px;
    margin-top: 80px;

}

.hill{
    background-color: rgb(239, 239, 249);
}

.form input [type="email"]{
    display: block;
}